@import "tailwindcss";
@import "@heroui/styles";

/* Inject standard animation utilities as a clean layer override */
@import "./spinner.css";

@plugin "@tailwindcss/typography";

.ProseMirror:focus {
    outline: none;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
    /* Theme Colors (Light Mode) */
    --accent: oklch(62.04% 0.1950 169.64);
    --accent-foreground: oklch(99.11% 0 0);
    --background: oklch(97.02% 0.0015 169.64);
    --border: oklch(90.00% 0.0015 169.64);
    --danger: oklch(65.32% 0.2335 15.64);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(94.00% 0.0015 169.64);
    --default-foreground: oklch(21.03% 0.0059 169.64);
    --field-background: oklch(100.00% 0.0008 169.64);
    --field-border: transparent;
    --field-foreground: oklch(21.03% 0.0015 169.64);
    --field-placeholder: oklch(55.17% 0.0030 169.64);
    --focus: oklch(62.04% 0.1950 169.64);
    --foreground: oklch(21.03% 0.0015 169.64);
    --muted: oklch(55.17% 0.0030 169.64);
    --overlay: oklch(100.00% 0.0004 169.64);
    --overlay-foreground: oklch(21.03% 0.0015 169.64);
    --scrollbar: oklch(87.10% 0.0015 169.64);
    --segment: oklch(100.00% 0.0015 169.64);
    --segment-foreground: oklch(21.03% 0.0015 169.64);
    --separator: oklch(92.00% 0.0015 169.64);
    --success: oklch(73.29% 0.1941 140.71);
    --success-foreground: oklch(21.03% 0.0059 140.71);
    --surface: oklch(100.00% 0.0008 169.64);
    --surface-foreground: oklch(21.03% 0.0015 169.64);
    --surface-secondary: oklch(95.24% 0.0012 169.64);
    --surface-secondary-foreground: oklch(21.03% 0.0015 169.64);
    --surface-tertiary: oklch(93.73% 0.0012 169.64);
    --surface-tertiary-foreground: oklch(21.03% 0.0015 169.64);
    --warning: oklch(78.19% 0.1590 62.23);
    --warning-foreground: oklch(21.03% 0.0059 62.23);

    /* Border Radius */
    --radius: 0.25rem;
    --field-radius: 0.25rem;
}

.dark,
[data-theme="dark"] {
    color-scheme: dark;
    /* Theme Colors (Dark Mode) */
    --accent: oklch(62.04% 0.1950 169.64);
    --accent-foreground: oklch(99.11% 0 0);
    --background: oklch(12.00% 0.0015 169.64);
    --border: oklch(28.00% 0.0015 169.64);
    --danger: oklch(59.40% 0.1973 14.53);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(27.40% 0.0015 169.64);
    --default-foreground: oklch(99.11% 0 0);
    --field-background: oklch(21.03% 0.0030 169.64);
    --field-border: transparent;
    --field-foreground: oklch(99.11% 0.0015 169.64);
    --field-placeholder: oklch(70.50% 0.0030 169.64);
    --focus: oklch(62.04% 0.1950 169.64);
    --foreground: oklch(99.11% 0.0015 169.64);
    --muted: oklch(70.50% 0.0030 169.64);
    --overlay: oklch(21.03% 0.0030 169.64);
    --overlay-foreground: oklch(99.11% 0.0015 169.64);
    --scrollbar: oklch(70.50% 0.0015 169.64);
    --segment: oklch(39.64% 0.0015 169.64);
    --segment-foreground: oklch(99.11% 0.0015 169.64);
    --separator: oklch(25.00% 0.0015 169.64);
    --success: oklch(73.29% 0.1941 140.71);
    --success-foreground: oklch(21.03% 0.0059 140.71);
    --surface: oklch(21.03% 0.0030 169.64);
    --surface-foreground: oklch(99.11% 0.0015 169.64);
    --surface-secondary: oklch(25.70% 0.0023 169.64);
    --surface-secondary-foreground: oklch(99.11% 0.0015 169.64);
    --surface-tertiary: oklch(27.21% 0.0023 169.64);
    --surface-tertiary-foreground: oklch(99.11% 0.0015 169.64);
    --warning: oklch(82.03% 0.1392 66.24);
    --warning-foreground: oklch(21.03% 0.0059 66.24);
}